.header {
  position: fixed;
  height: 3rem;
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overscroll-behavior: none;
  background-color: var(--primary-100);
  svg {
    color: var(--primary-500);
    width: 2rem;
    height: 2rem;
  }

  &__title {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 3rem;

    &--center {
      justify-content: center;
    }
  }
}

.main {
  flex: 1 1;
  padding: 3.5rem 0 4.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: nowrap;
  overflow: scroll;
  overscroll-behavior-y: contain;
  background-color: var(--primary-200);
  z-index: 0;

  &--full-height {
    overflow: hidden;
    overscroll-behavior-y: none;
    padding: 0;
  }

  &--no-gap {
    gap: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 4rem 5%;
    &--full-height {
      padding: 0;
    }
  }
}
