@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --primary: 192 78% 28%;           /* #10687e */
  --primary-foreground: 0 0% 98%;
  --warning: 38 92% 50%;            /* #d97706 */
  --warning-foreground: 38 51% 15%;
}

.dark {
  --primary: 192 55% 42%;
  --warning: 38 85% 58%;
}
