@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246, 244, 245;
    --foreground: 0, 0, 0;

    --card: 246, 244, 245;
    --card-foreground: 0, 0, 0;

    --popover: 246, 244, 245;
    --popover-foreground: 0, 0, 0;

    --primary: 16, 104, 126;
    --primary-foreground: 246, 244, 245;

    --secondary: 221, 220, 221;
    --secondary-foreground: 25, 24, 24;

    --muted: 197, 195, 196;
    --muted-foreground: 98, 98, 98;

    --accent: 221, 220, 221;
    --accent-foreground: 25, 24, 24;

    --destructive: 252, 122, 86;
    --destructive-foreground: 246, 244, 245;

    --border: 197, 195, 196;
    --input: 197, 195, 196;
    --ring: 221, 220, 221;

    --radius: 0.5rem;

    --secondary-100: rgba(231, 240, 242, 1);
    --secondary-200: rgba(183, 210, 216, 1);
    --secondary-300: rgba(136, 180, 191, 1);
    --secondary-400: rgba(64, 134, 152, 1);
    --secondary-500: rgba(16, 104, 126, 1);
    --secondary-600: rgba(13, 83, 101, 1);
    --secondary-700: rgba(10, 62, 76, 1);
    --secondary-800: rgba(6, 42, 50, 1);
    --secondary-900: rgba(3, 21, 25, 1);

    --primary-100: rgba(246, 244, 245, 1);
    --primary-200: rgba(221, 220, 221, 1);
    --primary-300: rgba(197, 195, 196, 1);
    --primary-400: rgba(148, 146, 147, 1);
    --primary-500: rgba(98, 98, 98, 1);
    --primary-600: rgba(74, 73, 73, 1);
    --primary-700: rgba(49, 49, 49, 1);
    --primary-800: rgba(25, 24, 24, 1);
    --primary-900: rgba(0, 0, 0, 1);

    --danger-100: rgba(255, 242, 238, 1);
    --danger-200: rgba(254, 215, 204, 1);
    --danger-300: rgba(254, 189, 171, 1);
    --danger-400: rgba(253, 162, 137, 1);
    --danger-500: rgba(252, 122, 86, 1);
    --danger-600: rgba(202, 98, 69, 1);
    --danger-700: rgba(151, 73, 52, 1);
    --danger-800: rgba(101, 49, 34, 1);
    --danger-900: rgba(50, 24, 17, 1);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border box-border overscroll-x-none overscroll-y-none select-none;
  }
  body {
    @apply bg-background text-foreground w-screen h-screen flex flex-col flex-nowrap transition-colors overscroll-y-contain;
  }
}
