:root {
  --secondary-100: #e7f0f2; /* black text */
  --secondary-200: #b7d2d8; /* black text */
  --secondary-300: #88b4bf; /* black text */
  --secondary-400: #408698; /* white text */
  --secondary-500: #10687e; /* white text */
  --secondary-600: #0d5365; /* white text */
  --secondary-700: #0a3e4c; /* white text */
  --secondary-800: #062a32; /* white text */
  --secondary-900: #031519; /* white text */

  --primary-100: #f6f4f5; /* black text */
  --primary-200: #dddcdd; /* black text */
  --primary-300: #c5c3c4; /* black text */
  --primary-400: #949293; /* black text */
  --primary-500: #626262; /* white text */
  --primary-600: #4a4949; /* white text */
  --primary-700: #313131; /* white text */
  --primary-800: #191818; /* white text */
  --primary-900: #000000; /* white text */

  --danger-100: #fff2ee; /* black text */
  --danger-200: #fed7cc; /* black text */
  --danger-300: #febdab; /* black text */
  --danger-400: #fda289; /* black text */
  --danger-500: #fc7a56; /* black text */
  --danger-600: #ca6245; /* white text */
  --danger-700: #974934; /* white text */
  --danger-800: #653122; /* white text */
  --danger-900: #321811; /* white text */

  overscroll-behavior-y: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-saira), var(--font-noto-sans-tc), sans-serif;
  margin: 0;
  overscroll-behavior-x: none;
  overscroll-behavior-y: contain;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-size-adjust: 100%;
  touch-action: none;
  background-color: var(--primary-100);
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Hide scrollbar for Edge */
  scrollbar-width: none; /* FireFox */
}

.scrollbar-hidden::-webkit-scrollbar {
  /* Chrome, Safari and Opera */
  display: none;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }
}
