@import "tailwindcss";

@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(330, 10%, 96.08%);
  --foreground: hsl(0, 0%, 0%);
  --card: hsl(330, 10%, 96.08%);
  --card-foreground: hsl(0, 0%, 0%);
  --popover: hsl(330, 10%, 96.08%);
  --popover-foreground: hsl(0, 0%, 0%);
  --primary: hsl(192, 77.46%, 27.84%);
  --primary-foreground: hsl(330, 10%, 96.08%);
  --secondary: hsl(300, 1.45%, 86.47%);
  --secondary-foreground: hsl(0, 2.04%, 9.61%);
  --muted: hsl(330, 1.69%, 76.86%);
  --muted-foreground: hsl(0, 0%, 38.43%);
  --accent: hsl(300, 1.45%, 86.47%);
  --accent-foreground: hsl(0, 2.04%, 9.61%);
  --destructive: hsl(13.01, 96.51%, 66.27%);
  --destructive-foreground: hsl(330, 10%, 96.08%);
  --border: hsl(330, 1.69%, 76.86%);
  --input: hsl(330, 1.69%, 76.86%);
  --ring: hsl(300, 1.45%, 86.47%);

  --radius: 0.5rem;

  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}

.dark {
  --background: hsl(222.2, 84%, 4.9%);
  --foreground: hsl(330, 10%, 96.08%);
  --card: hsl(217.2, 32.6%, 14.5%);
  --card-foreground: hsl(330, 10%, 96.08%);
  --popover: hsl(217.2, 32.6%, 17.5%);;
  --popover-foreground: hsl(210, 40%, 98%);
  --primary: hsl(192, 77.46%, 27.84%);
  --primary-foreground: hsl(330, 10%, 96.08%);
  --secondary: hsl(217.2, 32.6%, 17.5%);
  --secondary-foreground: hsl(330, 10%, 96.08%);
  --muted: hsl(217.2, 10.6%, 37.5%);
  --muted-foreground: hsl(215, 20.2%, 65.1%);
  --accent: hsl(192, 5%, 5.5%);
  --accent-foreground: hsl(330, 10%, 96.08%);
  --destructive: hsl(13.01, 96.51%, 66.27%);
  --destructive-foreground: hsl(330, 10%, 96.08%);
  --border: hsl(217.2, 32.6%, 30.5%);
  --input: hsl(217.2, 32.6%, 17.5%);
  --ring: hsl(212.7, 26.8%, 83.9%);
}

@theme inline {
  --font-sans: var(--font-saira), var(--font-noto-sans-tc), sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-accordion-down: animate-accordion-down 0.2s ease-out;
  --animate-accordion-up: animate-accordion-up 0.2s ease-out;

  @keyframes animate-accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes animate-accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply box-border border-border outline-ring/50 overscroll-x-none select-none;
  }
  body {
    @apply text-foreground w-screen h-lvh max-w-full transition-colors bg-accent overflow-y-scroll overscroll-y-contain;
  }
}

/* 在行動裝置上隱藏捲軸 */
@media (max-width: 640px) and (display-mode: standalone) {
  /* Webkit 瀏覽器 (iOS Safari, Chrome) */
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
  }
}
