@import "tailwindcss";

@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

:root {
  --background: 246, 244, 245;
  --foreground: 0, 0, 0;
  --card: 246, 244, 245;
  --card-foreground: 0, 0, 0;
  --popover: 246, 244, 245;
  --popover-foreground: 0, 0, 0;
  --primary: 16, 104, 126;
  --primary-foreground: 246, 244, 245;
  --secondary: 221, 220, 221;
  --secondary-foreground: 25, 24, 24;
  --muted: 197, 195, 196;
  --muted-foreground: 98, 98, 98;
  --accent: 221, 220, 221;
  --accent-foreground: 25, 24, 24;
  --destructive: 252, 122, 86;
  --destructive-foreground: 246, 244, 245;
  --border: 197, 195, 196;
  --input: 197, 195, 196;
  --ring: 221, 220, 221;

  --radius: 0.5rem;

  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}

[data-theme="dark"] {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

@theme inline {
  --font-sans: var(--font-saira), var(--font-noto-sans-tc), sans-serif;

  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-card: rgb(var(--card));
  --color-card-foreground: rgb(var(--card-foreground));
  --color-popover: rgb(var(--popover));
  --color-popover-foreground: rgb(var(--popover-foreground));
  --color-primary: rgb(var(--primary));
  --color-primary-foreground: rgb(var(--primary-foreground));
  --color-secondary: rgb(var(--secondary));
  --color-secondary-foreground: rgb(var(--secondary-foreground));
  --color-muted: rgb(var(--muted));
  --color-muted-foreground: rgb(var(--muted-foreground));
  --color-accent: rgb(var(--accent));
  --color-accent-foreground: rgb(var(--accent-foreground));
  --color-destructive: rgb(var(--destructive));
  --color-destructive-foreground: rgb(var(--destructive-foreground));
  --color-border: rgb(var(--border));
  --color-input: rgb(var(--input));
  --color-ring: rgb(var(--ring));

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-accordion-down: animate-accordion-down 0.2s ease-out;
  --animate-accordion-up: animate-accordion-up 0.2s ease-out;

  @keyframes animate-accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes animate-accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply box-border border-border outline-ring/50 overscroll-x-none select-none;
  }
  body {
    @apply text-foreground w-screen h-lvh max-w-full transition-colors bg-accent overflow-y-auto overscroll-y-contain;
  }
}

/* 在行動裝置上隱藏捲軸 */
@media (max-width: 640px) and (display-mode: standalone) {
  /* Webkit 瀏覽器 (iOS Safari, Chrome) */
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
  }
}
