:root {
  --yellow-primary: #FFDE59;
  --yellow-secondary: #FFEEAA;
  --white-primary: #F5F5F5;     /* background color */
  --gray-primary: #A0A0A0;
  --gray-secondary: #D9D9D9;
  --black-primary: #121212;     /* toggled */
  --red-primary: #F45555;       /* alert */
}

* {
  color: var(--black-primary);
  font-family: 'Saira Condensed', 'Inter', 'Noto Sans TC', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  overscroll-behavior-y: none;
}

body {
  background-color: var(--white-primary);
  text-size-adjust: 100%;
  touch-action: none;
}

div, aside, main {
  box-sizing: border-box;
}

.scrollbar-hidden {
  -ms-overflow-style: none;             /* Hide scrollbar for Edge */
  scrollbar-width: none;                /* FireFox */
}

.scrollbar-hidden::-webkit-scrollbar {  /* Chrome, Safari and Opera */
  display: none;
}